
/* footer */
footer {
  display: block;
  margin-top: 15px;
  padding: 20px 0;
  // border-top: 1px solid silver;

  .copyright {
    // color: #666;
    // font-size: 1.0em;
    // clear: both;
    }

  .tech {
    color: #999;
    font-size: 0.7em;
    // clear: both;
    padding: 5px 0;
    }

  }
