.navbar {

  a.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1em;
  }
  
  a.nav-link.active {
    color:white;
    text-decoration: underline;
  }

  a.lang {
    border: none;
    margin-right: 4px;
  }

}



.nav-link i {
  margin-right: 4px;
}

.spinner {
  color: grey;
  }

a.lang {
  opacity: 0.25;
  // margin-left: 8px;
  background-color: white;
  // border: 1px solid transparent;
  border: 1px solid grey;
  padding: 1px 2px;

  img {
    // width: 20px;
    height: 28px;
    }
  }

a.lang.lang-active {
  border: 1px solid grey;
  opacity: 1;
}  

.navbar-nav {
  flex-direction: row;

  .btn {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    margin-right: 0.5em;
  }

}
