/* table list */
table.list {
  border-collapse: collapse;
  margin: 5px 0;
    
  .nowidth {
    border-collapse: collapse;
    width: auto;
    }
  .half {
    border-collapse: collapse;
    width: 50%;
    }

  td, th {
    padding: 4px 10px;
    vertical-align: middle;
    font-size: 0.90em;
    }

  th {
    padding-top: 4px;
    padding-bottom: 3px;
    font-size: 1.00em;
    color: black;
    text-align: left;
    }

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    }

  tr.top td {
    vertical-align: top;
    }

  thead tr td {
    /*background-color: gray;*/
    }
  tbody.title {
    border: 2px solid gray;
    background-color: gray;
    }

  tbody.title td {
    color: white;
    font-weight: bold;
    }
  tbody.classic {
    border-top: 1px solid gray;
    }
  tbody.group {
    border-top: 1px solid gray;
    border-left: 2px solid gray;
    }

  .odd {
    background: #ffffff;
    }
  .even {
    background: #fafafa;
    }

  tr.disabled td {
    color: silver;
    }


  /* table hacks and widths */
  thead tr {
    border: none;
    /*border-bottom: none;*/
    padding: 0;
    color: gray;
    }

  }


