
#titlebar {
  margin: 20px 0 10px 0;

  .title {
    font-size: 32px;
    font-weight: normal;
    // color: #666;
    display: inline-block;
    margin: 0;
    }

  .subtitle {
    font-size: 18px;
    color: #999;
    font-weight: normal;
    display: inline-block;
    margin-left: 20px;
    }

}
