
#toolbar {

  .toolbar-left {
    // border: 1px solid blue;
    margin-right: 6px;
    position: relative;
    float: left;

    input[type="text"] {
      // border: 1px solid blue;
      padding-right: 65px;
    }

    .clear {
      position: absolute;
      // border: 1px solid green;
      right: 35px;
    }

    .submit {
      position: absolute;
      // border: 1px solid green;
      right: 0;
    }
  }

  .toolbar-right {
    float: right;
    margin-left: 6px;
    // border: 1px solid red;
  }

  .fa-input {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  } 

  
}

.alert {
  padding: 0.25rem 0.5rem;
}
