
.userbox {
  position: relative;
  margin: 0 auto;
  z-index: 1;

  .form-group {
    margin-bottom: 0.75rem;
    }

  .tab-content {
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    padding: 14px;
    }
  
  .nav-tabs {
    margin-bottom: -1px;
    }  

  .tab-content, .nav-link.active {
    // background-color: #f8f9fa;
    }

  .nav-tabs .nav-link {
    background-color: #f8f9fa;
    border-bottom: none;
    margin-right: 2px;
    color: grey;
    }
  
  .nav-tabs .nav-link.active {
    background-color: white;
    color: black;
    }


  .divider {
    // margin: 1em auto;
    position: relative;
    font-size: 16px;
    line-height: 1.2em;
    text-align: center;
    color: #919191;
    text-transform: uppercase;
    height: 20px;
    // border: 1px solid green;
    }

  .divider:before {
    position: absolute;
    content: "";
    left: 0;
    top: 9px;
    height: 1px;
    background: -webkit-gradient(linear,left top,right top,from(#d3d3d3),color-stop(42%,#d3d3d3),color-stop(42.1%,#fff),color-stop(57.9%,#fff),color-stop(58%,#d3d3d3));
    background: linear-gradient(90deg,#d3d3d3,#d3d3d3 42%,#fff 42.1%,#fff 57.9%,#d3d3d3 58%);
    width: 100%;
    z-index: -1;
    }

}
