= render partial: "bmcrails/flashes"

- if devise_mapping.recoverable?
  h4= t("devise.forgot_your_password")
  / = link_to t("devise.forgot_your_password"), new_password_path(resource_name), class: "btn btn-primary mb-2 mr-1"

  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, remote: true) do |f|
    .form-inputs
      = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }

    .form-actions
      = f.button :submit, t("devise.forgot_your_password")

hr

- if devise_mapping.confirmable?
  = link_to t('devise.didnt_receive_confirmation_instructions'), new_confirmation_path(resource_name), class: "btn btn-primary mb-2 mr-1"
