= render partial: "bmcrails/userbox/social"
= render partial: "bmcrails/flashes"

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: ''}) do |f|
  .form-inputs
    .row
      .col-7.col-md-12
        = f.input :email, required: false, placeholder: t("devise.email"), autofocus: false, input_html: { autocomplete: "email" }
      .col-5.col-md-12          
        = f.input :password, required: false, placeholder: t("devise.password"), input_html: { autocomplete: "current-password" }

  .form-actions
    - if devise_mapping.rememberable?
      = f.input :remember_me, as: :boolean, checked: true, :input_html => { checked: true }
    = f.button :submit, t("devise.sign_in"), class: "btn btn-primary mb-1"
 