= render partial: "bmcrails/userbox/social"
= render partial: "bmcrails/flashes"

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f|
  .form-inputs
    = f.input :name, required: true, autofocus: true, input_html: { autocomplete: "name", tabindex: 1 }
    = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email", tabindex: 2 }
    .row
      .col-6
        = f.input :password, required: true, hint: (t('devise.minimum_password_length', count: @minimum_password_length) if @minimum_password_length), input_html: { autocomplete: "new-password", tabindex: 3 }
      .col-6
        = f.input :password_confirmation, required: true,input_html: { autocomplete: "new-password", tabindex: 4 }

  - suppress(ActionView::MissingTemplate) do
    = render partial: "/layouts/bmcrails/register_extras", locals: { form: f }

  .form-actions
    = f.button :submit, t("devise.sign_up")
        
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to t('.didnt_receive_unlock_instructions'), new_unlock_path(resource_name)
  br

