- if devise_mapping.omniauthable?
  .block.signin_social.mt-1
    .row
      - Devise.omniauth_providers.each do |provider|
        - social = omniauth_provider_to_social(provider)
        .col-6.col-md-12.col-xl-6
          = link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-block btn-social btn-#{social} mb-1" do
            = fa_icon(social, text: t('devise.sign_in_with_provider', provider: social.camelize))

  br
  div.divider.mb-2
    = t('bmcrails.signin_or')

