.form-group {
  // font-size: 1.25em;
  //   border: 1px dotted orange;

  .form-control-label, .col-form-label {
    display: block;
    // font-size: 1.25em;
    // border: 1px solid blue;
    color: #444;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1em;
    font-weight: bold;
  }

}
