.btn-group
  .label.label-warning= ENV['RAILS_ENV']
  .label.label-primary= I18n.locale
  .label.label-default= bmcrails_hostname


h4= "session[:lang]"
pre= session[:lang].inspect

h4= "params[:lang]"
pre= params[:lang].inspect

h4= "request.env['HTTP_ACCEPT_LANGUAGE']"
pre= request.env['HTTP_ACCEPT_LANGUAGE'].inspect

h4= "I18n.locale"
pre= I18n.locale.inspect