#flashes
  - {success: :success, notice: :info, error: :danger}.each do |key, klass|
    - if msg = flash[key]
      div.alert.flash class="alert-#{klass}"
        = simple_format(msg.strip)
  - flash.clear
