= link_to "https://bmconseil.com/", targer: :_blank do
  .btn.btn-sm.btn-disabled.btn-secondary.mr-2.copyright.mb-2
    = "© 2018-#{Date.today.year} bmconseil.com"

.btn-group.mr-2
  .d-block.d-sm-none
    = bmcrails_minibtn 'secondary', :XS
  .d-none.d-sm-block.d-md-none
    = bmcrails_minibtn 'secondary', :SM
  .d-none.d-md-block.d-lg-none
    = bmcrails_minibtn 'secondary', :MD
  .d-none.d-lg-block.d-xl-none
    = bmcrails_minibtn 'secondary', :LG
  .d-none.d-xl-block
    = bmcrails_minibtn 'secondary', :XL

  = bmcrails_minibtn 'outline-secondary', I18n.locale


- bmcrails_footer_info.each do |tag,val|
  - next if val.to_s.blank?
  .btn-group.mr-2
    = bmcrails_minibtn 'secondary', tag.upcase
    = bmcrails_minibtn 'outline-secondary', val.to_s

