.nav-item
  .btn-group
    - I18n.available_locales.each do |lang|
      - if I18n.locale == lang
        - lang_style = "lang-active"
      - else
        - lang_style = ""

      = link_to ({lang: lang.to_s}), class: "lang ml-1 #{lang_style}" do
        - flag_url = asset_path("bmcrails/flags/#{lang.to_s}.svg")
        / - puts "flag_url: #{flag_url}"
        = image_tag flag_url, alt: lang.upcase
