/ .container-fluid
.container

  nav.navbar.navbar-expand-lg.navbar-light
    .navbar-brand
      = render partial: "/layouts/bmcrails/brand"

    button.navbar-toggler aria-controls="navbarSupportedContent" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarSupportedContent" data-toggle="collapse" type="button" 
      span.navbar-toggler-icon
      
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        = navbar_render_links

      ul.navbar-nav.navbar-right.ml-1
        = fa_icon :spinner, class: 'fa-spin fa-2x spinner mr-3', style: "display: none;"
        = navbar_render_usermenu
        = render partial: "bmcrails/locales"
