- _page_title = page_render_title(params)
- _page_subtitle = page_render_subtitle(params)

- unless _page_title.blank? && _page_subtitle.blank?

  .container
    #titlebar.zone
      .title.zone= _page_title
      - unless _page_subtitle.blank?
        .subtitle= _page_subtitle
