.container

  #toolbar
    = toolbar_render_buttons(params, 'toolbar-left')
    = toolbar_render_search(params, 'toolbar-left')
    = toolbar_render_create(params, 'toolbar-left')
    = toolbar_render_submit(params, 'toolbar-left')

    = page_render_pagination(params, 'toolbar-right')
    .clear_float

  = flash_toastr

