- tabs = ["login", "register", "help"]
- params[:tab] = tabs.first unless tabs.include?(params[:tab])

.userbox

  ul.nav.nav-tabs
    - tabs.each do |tab|
      - active = (params[:tab] == tab)
      li
        a.nav-link data-toggle="tab" href="#tab_#{tab}" class=(active ? "active" : "") aria-selected=(active ? "true" : "")
          = t("bmcrails.userbox.#{tab}")

  .tab-content
    - tabs.each do |tab|
      - active = (params[:tab] == tab)
      - tab_login_class = (active ? "active show" : "")

      .tab-pane class=tab_login_class id="tab_#{tab}"
        = render partial: "bmcrails/userbox/#{tab}"
