doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    = page_render_proprties

    = page_title_html(app_name)
    = csrf_meta_tags

    = stylesheet_link_tag "application", :media => "all"
    = page_render_css
    = javascript_include_tag "application"
    = page_render_js

    / - suppress(ActionView::MissingTemplate) do
    = render partial: "/layouts/bmcrails/head"

    /! Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"

  body class="env-#{Rails.env} #{context_css}"
 
    = render partial: "/bmcrails/navbar"
    = render partial: "/bmcrails/title"
    = render partial: "/bmcrails/toolbar"

    - suppress(ActionView::MissingTemplate) do
      = render partial: "/layouts/bmcrails/banner"

    .container
      #page.zone = yield

    footer.container.zone
      = render partial: "/bmcrails/footer"
      - suppress(ActionView::MissingTemplate) do
        = render partial: "/layouts/bmcrails/footer"

